*{
    margin: 0;
    padding: 0;
}
body{
    margin: 1rem;
    display: flex;
    justify-content: center;

}
#icon{
    /* float: right; */
        display: none;
    position: absolute;
    top: -30px;
    right: 30px;
    width:120px ;
}
.container{
    background-image: linear-gradient(to bottom right,#f5f5f5,#d3d4d9) ;
    display: grid;
    padding: 2.5rem 2rem;
    flex-direction: column;
    gap: 2rem;
    max-width: 1300px;
}

.box{
    background-color:  hsl(263, 55%, 52%);
    color: white;
    font-size: 15px;
    font-family: 'Barlow Semi Condensed';
    padding: 2rem 2.5rem;
    border-radius: 0.5rem;
}
#profile{
    border-radius: 50%;
    border: 3px solid hsl(264, 82%, 80%) ;
    margin-right:1rem ;
    max-width: 35px;
}
#name,#graduate{
    font-size:15px ;
    font-weight: 700;
    margin-bottom: 0.2rem;
}
.head{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
h2{
    margin-bottom: 1rem;
     position: relative;
    z-index: 2;
}
.box p{
   
    color:hsl(0, 0%, 81%);
}
.box h2{
    color:hsl(0, 0%, 81%);
}
.box2{
    background-color: hsl(217, 19%, 35%);
}
.box2 #profile,.box3 #profile,.box5 #profile{
    border: none;
    max-width: 38px;
}
.box3,.box5{
    background-color: white;
    color: hsl(217, 19%, 35%);
}
.box3 h2,.box5 h2{
    color:hsl(224, 10%, 45%);
}

.box3 #name,.box3 #graduate,#box3p,.box5 #name,.box5 #graduate,#box5p {
    color:hsl(224, 10%, 45%);
}

.box4 {
background-color: hsl(219, 29%, 14%);
}

@media (width>1000px) {
    .container{
        grid-template-columns: repeat(4,1fr);
    }
    .box1{

        grid-column-start:span 2 ;
    }
    .box5{
        grid-column-start:4;
        grid-row-start: 1;
        grid-row-end:3 ;
    }
    .box4{
        grid-column-start:span 2 ;
    }
    #icon{
        display: unset;
    }
   
}

